@font-face {
    font-family: "LogoFont";
    src: url('../res/fonts/FuturaHeavyfont.ttf');
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "LogoFont", sans-serif;
    font-size: 100%;
}

#app {
    width: 100%;
    height: 100%;
    background-color: #121114;
}

#logo {
    width: 20%;
    height: 15%;
    background-color: #343477;
    box-sizing: border-box;
    float: left;
    color: #CCC;
    position: relative;
    border: 3px outset #2b2b5e;
}

img.logo-image {
    width: 80%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#banner {
    width: 60%;
    height: 15%;
    box-sizing: border-box;
    background-color: #343477;
    float: left;
    border: 3px outset #2b2b5e;
    position: relative;
}

img.banner-image {
    width: 30%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    border: 3px outset #2b2b5e;
}

#control-panel {
    width: 20%;
    height: 15%;
    box-sizing: border-box;
    background-color: #343477;
    float: left;
    border: 3px outset #2b2b5e;
    position: relative;
}

form.control-panel {
    width: 100%;
    height: 100%;
    text-align: center;
}

.panel-title {
    width: 100%;
    margin-top: 0px;
    color: #fff;
    font-size: 1.5rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
}

.panel-aligner {
    width: 100%;
    text-align: center;
    height: 20%;
    margin-top: 5px;
    display: block;
    position: relative;
}

.panel-subtitle {
    width: 30%;
    float: left;
    color: #fff;
    font-size: 1.3rem;
    position: relative;
    margin-left: 20px;
}

.panel-edit {
    width: 45%;
    color: #fff;
    height: 60%;   
    font-size: 1.3rem;
    margin-right: 0;
    left: 47%;
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.panel-submit {
    width: 75%;
    position: relative;
    margin:auto;
    margin-top: 10px;
    height: 23%;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    background-color: #424288;
    font-family: "LogoFont", sans-serif;
    line-height: -50px;
    cursor: pointer;
    margin-top: 7px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel-submit:hover {
    background-color: #4d4da0;
}

nav#left-panel {
    width: 20%;
    float: left;
    background-color: #983352;
    height: 20%;
    position: relative;
}

a.option {
    border: 3px outset #721330;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    height: 25%;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.option:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
}

a.option:active {
    border: 3px inset #721330;
}

article#main {
    width: 60%;
    float: left;
    background-color: #224C00;
    height: 80%;
    box-sizing: border-box;
    border: 3px outset #4E8223;
}

div#ad-right {
    float: left;
    width: 20%;
    height: 80%;
    background-color: #343477;
    box-sizing: border-box;
    border: 3px outset #2b2b5e;
}